<footer>
  <a
    href="https://www.flaticon.com/authors/seyfdesigner"
    title="user icons"
    target="_blank"
    >User icons created by SeyfDesigner - Flaticon</a
  >

  <a
    href="https://github.com/FedeLopez17/express-validator-test"
    target="_blank"
  >
    <span class="github-icon" title="Source Code"></span>
  </a>
</footer>
