<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/navbar")%>

    <%- include("partials/errors.ejs") %>
    <form action="/create" method="POST" class="user-form">
      <%- include("partials/userFormInputs.ejs") %>
      <button type="submit">Add User</button>
    </form>
  </body>
</html>
