@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light-green-1: #ffa07a;
  --light-green-2: #b52502;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  width: min(1500px, 95%);
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #fff);
  background: linear-gradient(to right, #e2e2e2, #fff);
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: stretch;
  padding: 10px 0;
  margin-bottom: 40px;
  height: 50px;
  box-sizing: border-box;
}

a,
a:active,
a:hover,
a:link {
  text-decoration: none;
  color: unset;
}

form.search {
  display: flex;
  margin-left: auto;
  margin-right: 40px;
  align-items: stretch;
}

.searchbar {
  display: flex;
  padding: 5px 10px;
  background-color: white;
  gap: 5px;
  align-items: center;
  border-radius: 6px 0 0 6px;
  border: 2px solid lightgray;
}

.searchbar:focus-within {
  border-color: rgb(184, 184, 184);
}

.searchbar input:focus-visible {
  outline: none;
}

.searchbar input {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
}

form.search button {
  border-radius: 0 6px 6px 0;
  border: 0;
  background-color: lightgray;
  border: 1px solid rgb(184, 184, 184);
  cursor: pointer;
  font-size: 0.9rem;
}

form.search button:hover {
  background-color: rgb(184, 184, 184);
}

.icon {
  background-size: contain;
  display: inline-block;
  aspect-ratio: 2/2;
  width: 12px;
}

nav .icon.clear {
  background-image: url(/icons/x-mark.svg);
  width: 10px;
  opacity: 0.6;
}

nav .icon.magnifying-glass {
  background-image: url(/icons/magnifying-glass.svg);
}

nav .icon.add-user {
  background-image: url(/icons/add-user.svg);
  width: 24px;
}

section.add-user-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: var(--light-green-1);
  border: 1px solid var(--light-green-1);
  height: 100%;
  padding: 0 10px;
  border-radius: 6px;
}

section.add-user-wrapper:hover {
  border-color: var(--light-green-2);
}

section.add-user-wrapper p {
  font-size: 0.9rem;
}

section.add-user-wrapper .icon {
  width: 1.2rem;
}

td.actions {
  display: flex;
  gap: 15px;
  align-items: center;
  opacity: 0.7;
}

td.actions:hover {
  opacity: 1;
}

td.actions .icon {
  width: 24px;
  padding: 0 6px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}

.icon.view-user {
  background-image: url(/icons/details.svg);
  background-color: skyblue;
}

.icon.update-user {
  background-image: url(/icons/update-user.svg);
  background-color: orange;
}

.icon.delete-user {
  background-image: url(/icons/delete-user.svg);
  background-color: salmon;
}

td.actions .delete-user-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
}

td.actions a {
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  padding: 4px 16px;
  text-align: left;
}

thead tr {
  background-color: var(--light-green-2);
  color: whitesmoke;
}

thead tr th {
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #d3d3d3;
}

.user-form {
  display: flex;
  flex-direction: column;
  width: min(750px, 90%);
  margin: 0 auto;
  padding: 10px 0;
  gap: 10px;
}

.user-form textarea {
  resize: vertical;
}

.user-form > button {
  margin-top: 20px;
  align-self: flex-end;
  padding: 5px 15px;
  border-radius: 6px;
  background-color: var(--light-green-1);
  border: 1px solid var(--light-green-1);
  cursor: pointer;
}

.user-form > button:hover {
  border-color: var(--light-green-2);
}

.user-data p {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-data .name {
  font-weight: 600;
}

.user-data:not(.name) {
  font-weight: 300;
}

.user-data .bio {
  margin-top: 15px;
}

.not-found,
.no-users {
  font-weight: 500;
  margin-top: 40px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: auto 0 30px;
  font-size: 0.8rem;
}

footer > * {
  opacity: 0.8;
}

footer > *:hover {
  opacity: 1;
}

footer .github-icon {
  background: url(/icons/github-mark.svg);
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
}
