* {
  margin: 0;
}

nav {
  background: skyblue;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

form.search {
  display: flex;
  margin-left: auto;
  margin-right: 40px;
  gap: 10px;
}

.searchbar {
  display: flex;
  padding: 5px 10px;
  background-color: white;
  gap: 5px;
  align-items: center;
  border-radius: 10px;
}

.searchbar:focus-within {
  outline: 1px solid red;
}

.searchbar input:focus-visible {
  outline: none;
}

.searchbar input {
  background-color: transparent;
  border: none;
}

.icon {
  background-size: contain;
  display: inline-block;
  aspect-ratio: 2/2;
  width: 12px;
}

nav .icon.clear {
  background-image: url(/icons/x-mark.svg);
  width: 10px;
}

nav .icon.magnifying-glass {
  background-image: url(/icons/magnifying-glass.svg);
}

nav .icon.add-user {
  background-image: url(/icons/add-user.svg);
  width: 24px;
}

section.add-user-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icon.update-user {
  background-image: url(/icons/update-user.svg);
}

.icon.delete-user {
  background-image: url(/icons/delete-user.svg);
}

td.actions {
  display: flex;
  gap: 4px;
}

td.actions .icon {
  width: 24px;
}

td.actions .delete-user-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

table {
  width: 100%;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #d3d3d3;
}

.user-form {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: min(1000px, 90%);
  margin: 0 auto;
  padding: 10px 0;
  gap: 10px;
}

.user-form > button {
  margin-top: 20px;
}
